/* ==========================================================================
   Content
   -this will be for custom override or options related to content items 
   ========================================================================== */

   .archive__item_test {
        background-color: rgb(73, 117, 73);
        color: purple;
        border-style: inset;
   }