/* ==========================================================================
   Content
   ========================================================================== */

   .content_container {
        background-color: rgb(73, 117, 73);
        color: purple;
        border-style: inset;
   }