---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive" style="background-color:rgb(255, 0, 191)">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }} </h1>
    <div style="background-color:rgb(0, 255, 55)">
      {% endunless %}
      <div style="background-color:blue">
        {{ content }}
      </div>
    </div>
  </div>
</div>
